<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MASConnecta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UniversalFrameworkMASConnecta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1057A70F1B4C5A0E006E7C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1057A71A1B4C5A0E006E7C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1057AF4D1B4EDCFF006E7C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
